
@{
    ViewBag.Title = "Đăng ký thành công";

}

<br />
<div class="col-xs-12 col-md-12">
    <div class="alert alert-success">
        <h3><strong>Đăng ký thành công! Fe Credit liên hệ với anh/chị trong thời gian sớm nhất.</strong></h3>
    </div>
    <a href="@Url.AbsoluteAction("Index","Home")" class="btn btn-success">Tiếp tục</a>
</div>



<br />
<a></a>