
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:15px;">Thông báo từ quản trị website</h2>
<div class="alert alert-danger">Bạn không có quyền truy cập vào chức năng này , hãy liên lạc ban quản trị</div>
<div class="col-md-offset-5 col-md-2">
    <button class="btn btn-lg btn-info" onclick="javascript:history.back()">Quay lại</button>
</div>


